@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Reduced width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #333; /* Dark background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #666; /* Darker gray background of the scrollbar thumb */
    border-radius: 5px; /* Rounded edges for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter gray on hover */
}

